@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/fonts/Roboto-Light.ttf?88823c2015ffd5fa89d567e17297a137);
  src: url(/fonts/Roboto-Light.ttf?88823c2015ffd5fa89d567e17297a137) format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/fonts/Roboto-Regular.ttf?11eabca2251325cfc5589c9c6fb57b46);
  src: url(/fonts/Roboto-Regular.ttf?11eabca2251325cfc5589c9c6fb57b46) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/fonts/Roboto-Medium.ttf?58aef543c97bbaf6a9896e8484456d98);
  src: url(/fonts/Roboto-Medium.ttf?58aef543c97bbaf6a9896e8484456d98) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/fonts/Roboto-Bold.ttf?e07df86cef2e721115583d61d1fb68a6);
  src: url(/fonts/Roboto-Bold.ttf?e07df86cef2e721115583d61d1fb68a6) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/fonts/Roboto-Black.ttf?5ebb24ee1112dd9562629375c387879a);
  src: url(/fonts/Roboto-Black.ttf?5ebb24ee1112dd9562629375c387879a) format("ttf");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  flex-direction: row !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  -webkit-box-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  -webkit-box-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -webkit-box-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -webkit-box-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-italic {
  font-style: italic !important;
}

.text-white {
  color: #fff !important;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.table-responsive table {
  width: 100%;
  border-collapse: collapse;
}

.table-responsive table th {
  font-weight: 400;
  color: #212b36;
  border-bottom: 0.1rem solid #c4cdd5;
  border-top: 0;
  padding: 1.6rem;
  text-align: left;
}

.table-responsive table td {
  padding: 1.6rem;
  border-bottom: 0.1rem solid #f4f6f8;
  white-space: nowrap;
  text-align: left;
}

.my_item {
  display: -webkit-box;
  display: flex;
  /*flex: 0 0 auto;*/
  -webkit-box-align: center;
          align-items: center;
  padding: 0 10px;
  flex-wrap: wrap;
}

.Polaris-Select .Polaris-Select__Input {
  position: relative;
  background-color: transparent;
  opacity: 1;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: none;
  min-height: 3.6rem;
  padding: 0.5rem 0.8rem 0.5rem 1.2rem;
  border: 0;
  height: auto;
}

.Polaris-Select .Polaris-Select__Icon {
  fill: #637381;
  position: absolute;
  z-index: 99;
  top: 50%;
  right: 1.2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: -0.4rem;
  pointer-events: none;
}

.products-searchbar {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
}

.products-searchbar > div {
  padding-left: 5px;
  padding-right: 5px;
}

.products-searchbar .Polaris-TextField--hasValue {
  width: 50%;
}

.products-searchbar .select-group {
  width: 35%;
}

.products-searchbar .Polaris-ButtonGroup {
  flex-wrap: nowrap;
}

.products-searchbar .select-group .Polaris-ButtonGroup__Item {
  width: calc(50% - .8rem);
}

.table-responsive table {
  width: 100%;
  border-collapse: collapse;
}

.table-responsive table th {
  font-weight: 400;
  color: #212b36;
  border-bottom: 0.1rem solid #c4cdd5;
  border-top: 0;
  padding: 1.6rem;
  text-align: left;
}

.table-responsive table td {
  padding: 1.6rem;
  border-bottom: 0.1rem solid #f4f6f8;
  white-space: nowrap;
  text-align: left;
}

.icon-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  -webkit-box-align: end;
          align-items: flex-end;
}

.icon-item img {
  width: 16px;
}

.img-profile {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.img-profile .Polaris-Thumbnail {
  margin-right: 3rem;
}

.file-upoad {
  width: 100% !important;
  height: 100% !important;
  clip: auto !important;
}

.file-upoad input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.line_bottom {
  border-bottom: 0.1rem solid #dfe3e8;
}

.line_top {
  border-top: 0.1rem solid #dfe3e8;
}

.input_blue_text {
  color: #007ACE !important;
}

.text-muted {
  color: #919EAB;
}

.p-10 {
  padding: 10px;
}

.float-right {
  float: right !important;
}

.color_pic {
  border: 1px solid #c4cdd5;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 20px;
  height: 20px;
  z-index: 11;
  background: #2196f3;
  border-radius: 0.3rem;
}

.input_color_pic {
  padding-left: 3.5rem;
}

.text-muted-1 {
  color: #637381;
}

.font_20 {
  font-size: 20px;
}

.border_1 {
  border: 1px solid #C4CDD5;
  border-radius: 0.5rem;
}

.w_60 {
  width: 60px;
}

.head_main {
  width: 100%;
  display: -webkit-box;
  display: flex;
  border-bottom: 0.1rem solid #dfe3e8;
  padding-bottom: 2.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.table-responsive {
  overflow: auto;
}

.btn_aros {
  display: table;
  margin: 7rem auto 2rem auto;
}

.Polaris-Page--fullWidth {
  width: 100%;
}

@media (min-width: 804px) {
  .wp_50 {
    max-width: 50%;
  }
}

@media (max-width: 639px) {
  .head_main {
    padding: 0 1rem 1.4rem 0.5rem;
  }
}

